.header {
    position: fixed;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    width: 100vw;


    margin-right: auto;
    margin-left: auto;

}

.container {
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;
    background-color: #030712;

}

.wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 24px;


}



@media screen and (max-width: 1280px) {
    .container {
        max-width: 1280px;
        margin-right: auto;
        margin-left: auto;
    }
}