
.container{
    max-width: 375px;
    margin-left: auto;
    margin-right: auto;

    padding-left: 24px;
    padding-right: 24px;
}

.text_above_header{
    margin-bottom: 8px;
    font-weight: 500;
    line-height: 150%; /* 21px */
    letter-spacing: 2.52px;
    text-transform: uppercase;
    font-size: var(--primary-text-size);
    color: var(--secondary-text-color);
}

.title{
   margin-bottom: 24px;
    font-size: var( --secondary-text-size);
    font-weight: 600;
   font-style: normal;
    line-height: 24px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: var(--primary-text-color);
}

.subtitle{
    margin-bottom: 24px;
    font-size: var( --primary-text-size);
    color: var(--primary-text-color);
    font-weight: 400;
    line-height: 18px;
}

.subtitle_width{
    height: 36px;
    font-size: var(--header-text-size);
    margin: 0;
}

.card{
    display: flex;
    flex-direction: column;
    
    gap: 8px;
    width: 155px;
}

.wraper_dev{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.wraper_dev_first{
    display: flex;
    flex-direction: column;
    justify-content:space-between ;
    gap: 8px;
}

.last_name{
    font-size: var( --header-text-size);
    font-weight: 600;
   font-style: normal;
    line-height: 24px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: var(--primary-text-color);
}

.wraper_social{
    display: flex;
    gap: 8px; 
}
