.section {
  padding: 40px 24px;
  width: 100%;

  @media screen and (min-width: 768px) {
    padding: 56px 24px;
  }

  @media screen and (min-width: 1280px) {
    padding: 64px 120px;
  }

  @media screen and (min-width: 1920px) {
    padding: 80px 120px;
  }
}

.container {
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 375px) {
    max-width: 327px;
  }

  @media screen and (min-width: 475px) {
    width: 427px;
    max-width: 100%;
  }

  @media screen and (min-width: 768px) {
    width: 720px;
  }

  @media screen and (min-width: 1280px) {
    width: 1040px;
  }

  @media screen and (min-width: 1920px) {
    width: 1680px;
  }
}

.subtitle {
  margin-bottom: 8px;

  font-size: var(--primary-text-size);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 2.52px;
  text-transform: uppercase;

  color: var(--secondary-text-color);

  @media screen and (min-width: 1280px) {
    font-size: var(--secondary-text-size);
    line-height: 2;
    letter-spacing: 2.88px;
  }
}

.title {
  margin-bottom: 24px;

  font-size: var(--third-text-size);
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.4px;
  text-transform: uppercase;

  color: var(--primary-text-color);

  @media screen and (min-width: 1280px) {
    margin-bottom: 32px;

    font-size: var(--mob-title-size);
    letter-spacing: -0.64px;
  }

  @media screen and (min-width: 1920px) {
    font-size: var(--desktop-title-size);
    line-height: 1.4;
    letter-spacing: -0.8px;
  }
}

.description {
  font-size: var(--primary-text-size);
  font-weight: 400;
  line-height: 1.5;

  color: var(--primary-text-color);

  @media screen and (min-width: 1280px) {
    font-size: var(--secondary-text-size);
    line-height: 2;
  }

  @media screen and (min-width: 1920px) {
    font-size: var(--big-desctop-desc-size);
    line-height: 1.6;
  }
}

.wrap {
  margin-top: 24px;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

    margin-top: 32px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 32px;

    gap: 24px;
  }
}

.image {
  background-image: url("../../../../public/contact/mobile.png");

  background-repeat: no-repeat;

  height: 192px;

  @media screen and (min-width: 475px) {
    background-position: 50% 50%;
  }

  @media screen and (min-width: 768px) {
    background-image: url("../../../../public/contact/tablet.png");

    border-radius: 16px;

    width: 260px;
    height: 388px;
  }

  @media screen and (min-width: 1280px) {
    background-image: url("../../../../public/contact/desktop.png");

    width: 508px;
    height: 404px;
  }

  @media screen and (min-width: 1920px) {
    background-image: url("../../../../public/contact/bigDesktop.png");

    width: 970px;
    height: 428px;
  }
}
