.wrap {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }
}

.link_list {
  display: flex;

  @media screen and (min-width: 1280px) {
    column-gap: 8px;
  }
  @media screen and (min-width: 1920px) {
    column-gap: 24px;
  }
}

.link {
  display: flex;

  justify-content: center;
  align-items: center;
  padding: 12px;

  color: var(--primary-text-color);
  font-size: 12px;
  font-weight: 600;
  line-height: 1.5;
  text-decoration: none;

  background-color: transparent;
  border-radius: 16px;

  transition: transform var(--animation-hover), color var(--animation-hover),
    background-color var(--animation-hover);

  &:hover,
  &link:focus {
    color: var(--secondary-text-color);
    transform: var(--scale-transform-hover);
    background: rgba(246, 247, 249, 0.2);
  }

  @media screen and (min-width: 1280px) {
    font-size: 14px;
  }

  @media screen and (min-width: 1920px) {
    font-size: 16px;
    column-gap: 24px;
  }
}

.link_contact {
  display: flex;

  justify-content: center;
  align-items: center;
  padding: 12px;

  color: var(--primary-text-color);
  font-size: 12px;
  font-weight: 600;
  line-height: 1.5;
  text-decoration: none;

  border-radius: 16px;
  border: 1px solid var(--primary-text-color);
  background-color: transparent;

  transition: transform var(--animation-hover), color var(--animation-hover),
    background-color var(--animation-hover);

  &:hover,
  &:focus {
    color: var(--secondary-text-color);
    transform: var(--scale-transform-hover);
    border-color: var(--secondary-text-color);
    background: rgba(246, 247, 249, 0.2);
  }

  @media screen and (min-width: 1280px) {
    font-size: 14px;
  }
}
