.btn_wrap {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 56px;
  height: 56px;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.btn {
  background-color: transparent;
  line-height: 0;
  border: none;
}

.burger_menu_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 40px;
  padding-bottom: 40px;

  list-style: none;
  text-align: center;
}

.item {
  display: inline-flex;
  padding-bottom: 24px;

  &:last-child {
    padding-bottom: 0;
  }
}

.link {
  padding: 12px;

  color: var(--primary-text-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  text-decoration: none;

  transition: transform var(--animation-hover), color var(--animation-hover);

  &:hover,
  &link:focus {
    color: var(--secondary-text-color);
    transform: var(--scale-transform-hover);
  }
}

.link_contact {
  padding: 12px;
  color: var(--primary-text-color);

  font-size: 16px;

  font-weight: 600;
  line-height: 1.5;
  text-decoration: none;

  border-radius: 16px;
  border: 1px solid var(--white, #f6f7f9);

  transform: scale(1);
  transition: all 0.3s ease-in-out;

  &:hover,
  &:focus {
    color: var(--secondary-text-color);
    border: 1px solid var(--secondary-text-color);
    transform: scale(1.025);
  }
}

.backdrop {
  position: fixed;
  top: 92px;
  left: 0;

  width: 100%;
  height: 100%;
  background: var(--black, #030712);
}
