.header {
    position: fixed;
    padding: 24px;

    width: 100%;
}

.container {
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;
    background-color: #030712;
}

.wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    color: var(--primary-text-color);
    stroke: var(--primary-text-color);
    fill: var(--primary-text-color);
    color: inherit;
}


/* 
@media screen and (max-width: 1280px) {
    .container {
        max-width: 1280px;
        margin-right: auto;
        margin-left: auto;
    }
} */