.section {
  padding-top: 80px;
  padding-bottom: 80px;
}

.content_box {
  @media screen and (min-width: 1920px) {
    display: flex;
    column-gap: 24px;
    padding-top: 128px;
    padding-bottom: 128px;
  }
}

.photo_wrap {
  width: 327px;
  height: 327px;

  border-radius: 16px;
  background: lightgray 50% / cover no-repeat;

  overflow: hidden;
  @media screen and (min-width: 1920px) {
    width: 544px;
    height: 544px;
  }
}

.photo {
  display: block;
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.text_box {
  // width: 1112px;
  padding-top: 40px;
  padding-bottom: 24px;
  @media screen and (min-width: 768px) {
    padding: 0;
    width: 444px;
  }
  @media screen and (min-width: 1920px) {
    width: 1112px;
  }
}

.address {
  padding-bottom: 8px;

  color: var(--secondary-text-color, #0ad87a);
  font-size: 16px;
  font-weight: 500;
  line-height: 2;
  letter-spacing: 2.88px;
  text-transform: uppercase;
}

.sub_title {
  padding-bottom: 32px;

  color: var(--primary-text-color, #f6f7f9);
  font-size: 40px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: -0.8px;
  text-transform: uppercase;
}

.descr {
  color: var(--primary-text-color, #f6f7f9);
  font-size: 24px;
  font-weight: 400;
  line-height: 1.67;
}
