.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px;

  color: var(--third-text-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;

  border-radius: 8px;
  background-color: var(--primary-text-color);
}

.logo_title {
  padding: 10px;

  color: var(--primary-text-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 2.24;
}

.logo_title_desc {
  display: none;

  padding: 12px;

  color: var(--primary-text-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;

  @media screen and (min-width: 1280px) {
    display: block;
  }
}
