.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px;

  color: var(--third-text-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;

  border-radius: 8px;
  background-color: var(--white, #f6f7f9);
}

.logo_title {
  // display: none;

  padding: 10px;

  color: var(--primary-text-color);
  /* h5 semi bold - buttons */
  /* font-family: Poppins; */
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 2.24;
  /* 22.4px */
}
