.wrap {
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 40px;
  background-color: var(--third-text-color);
}

.hero__subHeader,
.hero__header,
.hero__description {
  color: var(--primary-text-color);
}

.hero__subHeader {
  font-size: var(--primary-text-size);
  font-weight: 500;
  line-height: 150%;
  /* 21px */
  letter-spacing: 2.52px;
  text-transform: uppercase;

  margin-bottom: 8px;
}

.hero__header {
  font-size: var(--mob-title-size);
  font-weight: 600;
  line-height: 48px;
  /* 150% */
  letter-spacing: -0.64px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.hero__headerAccent {
  color: var(--secondary-text-color);
}

.hero__description {
  font-size: var(--primary-text-size);
  font-weight: 400;
  line-height: 150%;
  /* 21px */
  margin-bottom: 24px;
}

.hero__accentBtn {
  width: 100%;

  color: var(--third-text-color);
  text-align: center;
  font-size: var(--primary-text-size);
  font-weight: 600;
  line-height: 150%;
  /* 21px */

  border: none;
  border-radius: 16px;
  background: var(--secondary-text-color);

  padding: 14px 24px;
  margin-bottom: 16px;
}

.hero__btn {
  width: 100%;

  padding: 14px 24px;

  border-radius: 16px;
  border: 1px solid var(--primary-text-color);

  background-color: var(--third-text-color);
  color: var(--primary-text-color);
  margin-bottom: 32px;
}

.hero_imgThumb {
  border-radius: 16px;

  overflow: hidden;

  /* position: relative; */
}

.hero__img {
  width: 100%;
}

@media screen and (min-width: 375px) {
  .hero__img {
    object-fit: fill;
  }

  .hero_imgThumb {
    border-radius: 16px;
    width: 100%;
    height: 220px;

    overflow: hidden;
  }
}

@media screen and (min-width: 768px) {
  .wrap {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 16px;
    padding: 0;
    padding-bottom: 56px;
  }

  .hero_imgThumb {
    height: 361px;
  }

  .hero__subHeader {
    margin-bottom: 16px;
  }

  .hero__header,
  .hero__description {
    margin-bottom: 32px;
  }

  .hero__btnThumb {
    display: flex;
    gap: 16px;
  }

  .hero__accentBtn,
  .hero__btn {
    width: 168px;
    margin-bottom: 0;
  }

  .hero__img {
    width: 100%;
    height: 100%;

    position: relative;
    z-index: 100;
  }
}

@media screen and (min-width: 1280px) {
  .wrap {
    width: 1040px;

    padding-bottom: 80px;
  }

  .hero_imgThumb {
    height: 454px;
  }
}

@media screen and (min-width: 1920px) {
  .wrap {
    width: 1680px;
    gap: 24px;
    padding-top: 80px;
  }

  .hero_imgThumb {
    height: 640px;
  }
}