.wrap {
  width: 100%;
  padding: 34px 24px 40px 24px;

  // background-color: var(--third-text-color);
}

.hero__subHeader,
.hero__header,
.hero__description {
  color: var(--primary-text-color);
}

.hero__subHeader {
  margin-bottom: 8px;

  font-size: var(--primary-text-size);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 2.52px;
  text-transform: uppercase;
}

.hero__header {
  margin-bottom: 24px;

  font-size: var(--mob-title-size);
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.64px;
  text-transform: uppercase;
}

.hero__headerAccent {
  color: var(--secondary-text-color);
}

.hero__description {
  margin-bottom: 24px;

  font-size: var(--primary-text-size);
  font-weight: 400;
  line-height: 1.5;
}

.hero__accentBtn {
  width: 100%;
  padding: 14px 24px;
  margin-bottom: 16px;
  border: none;
  border-radius: 16px;

  background: var(--secondary-text-color);

  color: var(--third-text-color);
  text-align: center;
  font-size: var(--primary-text-size);
  font-weight: 600;
  line-height: 1.5;
}

.hero__btn {
  width: 100%;
  padding: 14px 24px;
  margin-bottom: 32px;
  border: 1px solid var(--primary-text-color);
  border-radius: 16px;

  background-color: var(--third-text-color);

  color: var(--primary-text-color);
}

.hero_imgThumb {
  border-radius: 16px;

  overflow: hidden;
}

.hero__img {
  width: 100%;
}

@media screen and (min-width: 375px) {
  .hero__img {
    object-fit: fill;
  }

  .hero_imgThumb {
    width: 100%;
    height: 220px;
    border-radius: 16px;

    overflow: hidden;
  }
}

@media screen and (min-width: 768px) {
  .wrap {
    display: flex;
    gap: 16px;
    width: 720px;
    padding: 56px 0;
    margin-left: auto;
    margin-right: auto;
  }

  .hero_imgThumb {
    height: 361px;
  }

  .hero__subHeader {
    margin-bottom: 16px;
  }

  .hero__header,
  .hero__description {
    margin-bottom: 32px;
  }

  .hero__btnThumb {
    display: flex;
    gap: 16px;
  }

  .hero__accentBtn,
  .hero__btn {
    width: 168px;
    margin-bottom: 0;
  }

  .hero__img {
    position: relative;
    z-index: 100;

    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 1280px) {
  .wrap {
    width: 1040px;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .hero_imgThumb {
    height: 454px;
  }
}

@media screen and (min-width: 1920px) {
  .wrap {
    width: 1680px;
    gap: 24px;
  }

  .hero_imgThumb {
    height: 640px;
  }
}
