.wrap {
    display: flex;
    column-gap: 24px;
}

.link {
    color: var(--white, #F6F7F9);
    /* h5 semi bold - buttons */
    /* font-family: Poppins; */
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 2.24;
    /* 22.4px */
}