.container {
  width: 100%;

  padding: 40px 24px;

  @media screen and (min-width: 768px) {
    padding: 56px 24px;
  }

  @media screen and (min-width: 1280px) {
    padding: 64px 120px;
  }

  @media screen and (min-width: 1920px) {
    padding: 80px 120px;
  }
}

.subtitle {
  margin-bottom: 8px;

  font-size: var(--primary-text-size);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 2.52px;
  text-transform: uppercase;

  color: var(--secondary-text-color);

  @media screen and (min-width: 1280px) {
    font-size: var(--secondary-text-size);
    line-height: 2;
    letter-spacing: 2.88px;
  }
}

.title {
  margin-bottom: 24px;

  font-size: var(--third-text-size);
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.4px;
  text-transform: uppercase;

  color: var(--primary-text-color);

  @media screen and (min-width: 1280px) {
    margin-bottom: 32px;

    font-size: var(--mob-title-size);
    letter-spacing: -0.64px;
  }

  @media screen and (min-width: 1920px) {
    font-size: var(--desktop-title-size);
    line-height: 1.4;
    letter-spacing: -0.8px;
  }
}

.description {
  font-size: var(--primary-text-size);
  font-weight: 400;
  line-height: 1.5;

  color: var(--primary-text-color);

  @media screen and (min-width: 1280px) {
    font-size: var(--secondary-text-size);
    line-height: 2;
  }

  @media screen and (min-width: 1920px) {
    font-size: var(--big-desctop-desc-size);
    line-height: 1.6;
  }
}

.image_contact {
  width: 100%;

  @media screen and (min-width: 768px) {
    width: 40%;
    // width: 260px;
    // width: 50%;

    border-radius: 16px;

    object-fit: cover;
  }

  @media screen and (min-width: 1280px) {
    width: 100%;
  }
}

.wrap {
  margin-top: 24px;

  @media screen and (min-width: 768px) {
    display: flex;
    gap: 16px;

    margin-top: 32px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 32px;

    gap: 24px;
  }
}

.form {
  margin-top: 24px;

  @media screen and (min-width: 768px) {
    width: 444px;
    margin-top: 0;
  }

  @media screen and (min-width: 1280px) {
    width: 508px;
  }
}

.input {
  margin-bottom: 16px;
  padding: 24px;

  border: none;
  border-radius: 16px;

  width: 100%;
  height: 48px;

  background-color: var(--primary-text-color);

  &::placeholder {
    font-size: var(--primary-text-size);
    font-weight: 400;
    line-height: 1.5;

    color: var(--third-text-color);
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 24px;

    // width: 444px;
  }

  @media screen and (min-width: 1280px) {
    height: 56px;
  }
}

.textarea {
  margin-bottom: 16px;
  padding: 24px;

  border: none;
  border-radius: 16px;

  width: 100%;
  height: 180px;
  resize: none;

  background-color: var(--primary-text-color);

  &::placeholder {
    font-size: var(--primary-text-size);
    font-weight: 400;
    line-height: 1.5;

    color: var(--third-text-color);
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 24px;

    // width: 444px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 32px;
  }
}

.button {
  display: block;

  padding: 14px 24px;

  border: none;
  border-radius: 16px;
  cursor: pointer;

  width: 100%;
  height: 56px;

  font-size: var(--primary-text-size);
  font-weight: 600;
  line-height: 1.5;

  color: var(--third-text-color);
  background-color: var(--secondary-text-color);

  transition: transform var(--animation-hover);

  &:hover,
  &:focus {
    transform: var(--scale-transform-hover);
  }

  @media screen and (min-width: 768px) {
    // margin-left: auto;
    // margin-right: auto;

    // width: 444px;
  }

  @media screen and (min-width: 1280px) {
    font-size: var(--secondary-text-size);
  }
}
