.section {
  padding: 40px 0;

  @media screen and (min-width: 768px) {
    padding: 56px 0;
  }

  @media screen and (min-width: 1280px) {
    padding: 64px 0;
  }

  @media screen and (min-width: 1920px) {
    padding: 80px 0;
  }
}

.container {
  max-width: 375px;
  padding: 0 24px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 480px) {
    max-width: 480px;
    padding: 0 24px;
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1280px;
    padding: 0 120px;
  }

  @media screen and (min-width: 1920px) {
    max-width: 1920px;
  }
}

.subtitle {
  margin-bottom: 8px;

  color: var(--secondary-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.42;
  letter-spacing: 2.52px;
  text-transform: uppercase;

  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 2.88px;
  }
}

.title {
  margin-bottom: 24px;

  color: var(--primary-text-color);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.6;
  letter-spacing: 0.8px;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    line-height: 1.5;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 32px;

    font-size: 32px;
    letter-spacing: -0.64px;
  }

  @media screen and (min-width: 1920px) {
    font-size: 40px;
    line-height: 1.4;
    letter-spacing: -0.8px;
  }
}

.description {
  margin-bottom: 24px;

  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42;

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 32px;
    font-size: 16px;
    line-height: 2;
  }

  @media screen and (min-width: 1920px) {
    font-size: 24px;
    line-height: 1.6;
  }
}
.wrapper_list{
  display: flex;
  flex-direction: column;
  
}

.item_wrapper{
  width: 327px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0px ;
  cursor: pointer;

  

  
}
.icon{
  width: 48px;
  height: 48px;
  padding: 8px 0px 8px 18px;
}

.name{
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 24px; 
letter-spacing: 0.84px;
text-transform: uppercase;

color: var(--white, #F6F7F9);
}

.price{
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: 150%; 

color: var(--green, #0AD87A);
}

.services_subtitle{
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 20px; 
letter-spacing: 2.52px;
text-transform: uppercase;

 color: var(--white, #F6F7F9);
}

.services_title{
font-family: Poppins;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 48px; 
letter-spacing: -0.64px;
text-transform: uppercase;

color: var(--green, #0AD87A);
}

.services_description {
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; 

color: var(--white, #F6F7F9);
}

.wrapper_btn{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.accentBtn{
  display: flex;
  height: 56px;
  padding: 14px 24px;
  align-items: center;
  justify-content: center;
  gap: 8px;

  color: var(--black, #030712);
  text-align: center;


  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; 
  

  border-radius: 16px;
  background: var(--green, #0AD87A);
}

.btn{
  display: flex;
  height: 56px;
  padding: 14px 24px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  align-self: stretch;

  color: var(--white, #F6F7F9);
  text-align: center;


  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; 

  border-radius: 16px;
  border: 1px solid var(--white, #F6F7F9);
  background-color: #030712;
}

.details{
  color: var(--white, #F6F7F9);

/* h5 semi bold uppercase */
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 24px; /* 150% */
letter-spacing: 0.32px;
text-transform: uppercase;
}

.details_item{
display: flex;
align-items: flex-start;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; 

color: #F6F7F9;
}
