.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  min-height: 100vh;
}

.main_container {
  position: relative;
  z-index: 150;
  padding-top: 104px;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 768px) {
    padding-top: 92px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 96px;
  }
}
